

<app-modal-documents



>
    
</app-modal-documents>


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Empresa</h4>
        <p class="card-description" style="display: none;"> Add class <code>.table-striped</code>
        </p>

        <div class="search-container" style="border: 1px solid #ccc; padding: 15px; border-radius: 5px; margin-bottom: 20px;">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
              <div class="form-group">
                <label for="searchCodDaily">Código da empresa:</label> 
                  <input type="text" [(ngModel)]="searchCodCompany"   (keydown.space)="$event.preventDefault()" class="form-control" maxlength="10" />
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
              <div class="form-group">
                <label for="document">NIF:</label>
                <input type="text" [(ngModel)]="searchDocument"   (keydown.space)="$event.preventDefault()" class="form-control" maxlength="14" />
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <label for="document">Endereço:</label>
                <input type="text" [(ngModel)]="searchAddress" class="form-control" maxlength="10" />
              </div>
            </div>
        
            <div class="col-lg-2 col-md-2 text-md-right text-center" style="margin-top: 30px;">
              <button class="btn btn-primary" (click)="searchCompany(1)">Pesquisar</button>
            </div>
          </div>
        </div>
  
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>              
              <tr>
                <th colspan="7" style="text-align: right;" >                   
                    <i class="mdi mdi-plus-circle" (click)="addCompany()" title="Adicionar uma nova empresa" style="font-size: 24px; cursor: pointer;"></i>                   
               </th>                         
              </tr>              
              <tr>
                <th> Cod. Empresa </th>     
                <th> Nome </th>               
                <th> Exercício </th>   
                <th> Telefones </th>            
                <th> Documentos </th>                                  
                <th> Status </th>   
                <th>  </th> 
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dados">              
                <td> {{item.CodCompany}} </td>
                <td> {{item.Name}} </td>
                <td > 
                  <span *ngIf="item.Exercise  && item.Exercise.length>0" style="font-size: 15px; cursor: pointer;" (click)="viewCompanyExercises(item)">Visualizar</span>   
                  <span *ngIf="item.Exercise && item.Exercise.length==0">Não cadastrado</span>
                
                </td>
                <td >  
                  <span *ngIf="item.Phone && item.Phone.length>0" style="font-size: 15px; cursor: pointer;" (click)="viewCompanyPhones(item)">Visualizar</span>   
                  <span *ngIf="item.Phone && item.Phone.length==0">Não cadastrado</span>
                
                </td>
                <td > 
                  <span *ngIf="item.Documents && item.Documents.length>0" style="font-size: 15px; cursor: pointer;" (click)="viewCompanyDocuments(item)">Visualizar</span>                 
                  <span *ngIf="item.Documents && item.Documents.length==0">Não cadastrado</span>
                </td>               
                <td>  {{item.Active ? 'Ativo' : 'Inativo'}}   </td>
                <td style="text-align: right;">                                        
                  <i (click)="updateCompany(item.ID)" style="font-size: 20px; cursor: pointer; " 
                  title="Editar esta empresa" 
                  class="mdi mdi-table-edit"></i>                
             </td>               
              </tr>             
            </tbody>
          </table>
          <app-paginator
          [totalPages]="totalPages"
          [currentPage]="currentPage"          
          (pageChange)="onPageChange($event)">
        </app-paginator>
        </div>
      </div>
    </div>
  </div>