.required {
  color: red;
  margin-left: 5px;
}

.is-invalid {
border: 1px solid red !important;
}

.invalid-feedback {
color: red !important;;
font-size: 0.9rem;
}



  .alinhamento {
    vertical-align:center;
    text-align: center;
  }

  .center {
    text-align: center;
  }

  /* Estilização geral da tabela */
.tabela-customizada {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-family: Arial, sans-serif;
  font-size: 14px;;
}

/* Cabeçalho da tabela */
.cabecalho-tabela {
  background-color: #f4f4f4;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}

/* Células da tabela */
.celula-tabela {
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;
}

/* Estilização para os inputs dentro da tabela */
.input-tabela {
  width: 100%;
  padding: 8px; /* Adiciona espaçamento interno */
  margin: 1px;  /* Adiciona espaçamento externo */
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Alinhamento dos itens da tabela */
.alinhamento-centro {
  text-align: center;
  vertical-align: middle;
}

/* Ícone de adicionar */
.icone-adicionar {
  cursor: pointer;
  color: #28a745;
  font-size: 20px;
}
.icone-adicionar:hover {
  color: #218838;
}

/* tr:nth-child(odd) {
  background-color: #0d97a6;
} */
/* Cor para linhas pares */
/* tr:nth-child(even) {
  background-color: #ad7979;
} */
tr:nth-child(odd) {
  background-color: rgb(225, 230, 228);
}
tr:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-input {
  max-width: 100%;
  width: 300px;
  background-color: #ffffff !important;  /* Fundo branco */
}


/* Estilo do mat-datepicker quando aberto */
::ng-deep .mat-datepicker-content {
  background-color: #ffffff !important;  /* Fundo branco */
  border-radius: 4px !important;  /* Bordas arredondadas */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1) !important;  /* Sombra suave */
  border: 1px solid #ccc !important;  /* Borda leve */
}

/* Estilo das opções do mat-datepicker */
::ng-deep .mat-calendar-body-cell {
  color: #333 !important;  /* Cor das células */
  padding: 10px !important;  /* Preenchimento das células */
}

/* Estilo para as células selecionadas do mat-datepicker */
::ng-deep .mat-calendar-body-selected {
  background-color: #007bff !important;  /* Fundo azul para a data selecionada */
  color: #fff !important;  /* Cor do texto da data selecionada */
  border-radius: 50% !important;  /* Bordas arredondadas */
}


mat-tab-group * {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

