<app-modal-ok
 

  ></app-modal-ok>
  
<form [formGroup]="formulario" *ngIf="formulario">
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{idMovement ? 'Editar' : 'Novo'}} Movimento</h4>
             

          <div class="col-md-12 grid-margin stretch-card" style="border-style: solid; border-width: 1px;">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Dados principais</h4>
                <p class="card-description" style="display: none;"> A simple suggestion engine </p>


                <div class="form-group row" >
                  <div class="col col-md-1"  style="padding-bottom: 20px;" >
                    <label for="nome">Ativo? <span class="required">*</span></label>
                    <input type="checkbox"  class="form-control  form-check-input"  formControlName="active">
                  </div>

                  <div class="col col-md-12">
                    <label for="nome" style="margin-right: 10px;">Empresa <span class="required">*</span></label>
                    <mat-form-field style="width: 100%;">
                      <mat-label> </mat-label>
                      <input
                       type="text" 
                       class="form-control" 
                       matInput  
                       formControlName="companyFullData"  
                       [ngClass]="{'is-invalid': getControlMainForm('companyFullData')?.invalid && getControlMainForm('companyFullData')?.touched}"
                       [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onOptionSelected($event)">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                          {{ option.Name }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>

               


                  <div class="col">

                    <label for="nome" style="margin-right: 10px;">Data <span class="required">*</span></label>
                    <div style="display: flex; align-items: center; width: 100%;">
                      <div style="display: flex; flex-direction: column; flex-grow: 1;">
                        <input 
                          class="form-control w-100"
                          matInput [matDatepicker]="picker" 
                          placeholder="Escolha uma data" 
                          formControlName="date" 
                          [ngClass]="{'is-invalid': getControlMainForm('date')?.invalid && getControlMainForm('date')?.touched}"
                          (click)="picker.open()">  
                        <div class="invalid-feedback" *ngIf="formulario.get('date')?.invalid">
                          Selecione uma data
                        </div>
                      </div>
                      <div style="display: flex; align-items: center; padding-left: 2px; margin-top: 2; vertical-align: top;">
                        <mat-datepicker-toggle [for]="picker" matButton></mat-datepicker-toggle> 
                      </div>                 
                      <mat-datepicker #picker></mat-datepicker>
                    </div>
                     
                    
                  </div>
                  <div class="col">
                    <label for="nome">Cód. do diário <span class="required">*</span></label>

                    <select id="codDaily"  
                    formControlName="codDaily" 
                    (change)="this.documents = this.moduloService.filterDocuments(formulario.get('codDaily')?.value,this.dailys,false)" 
                    class="form-select"
                    [ngClass]="{'is-invalid': getControlMainForm('codDaily')?.invalid && getControlMainForm('codDaily')?.touched}"
                    >
                        <option value="">Todos</option>
                        <option *ngFor="let daily of dailys" [value]="daily.codDaily">{{ daily.codDaily + " - " +  daily.description }}</option>
                      </select>
                  
                    <div class="invalid-feedback" *ngIf="formulario.get('codDaily')?.invalid && formulario.get('codDaily')?.touched">
                      O código do diário obrigatório.
                    </div>

                  </div>
                  <div class="col">
                    <label for="description">Cód. do documento<span class="required">*</span></label>
                    <select 
                    id="codDocument" 
                    formControlName="codDocument"  
                    [ngClass]="{'is-invalid': getControlMainForm('codDocument')?.invalid && getControlMainForm('codDocument')?.touched}"
                    class="form-select"
                    >                 
                        <option *ngFor="let document of documents" [value]="document.codDocument">{{document.codDocument + ' - '  + document.description }}</option>
                      </select>
        
                    <div class="invalid-feedback" *ngIf="formulario.get('codDocument')?.invalid && formulario.get('codDocument')?.touched">
                       A descrição do diário é obrigatória.
                      </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          

          <div class="col-md-12 grid-margin stretch-card" style="border-style: solid; border-width: 1px;" >
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Movimentos &nbsp;<button type="submit" (click)="viewAllMovements()" class="btn btn-primary me-2" >{{textBtnViewAll}}</button>   &nbsp;  <button type="submit" (click)="createNewMovement()" class="btn btn-primary me-2" >Criar novo movimento</button>  </h4>
                <p class="card-description" style="display: none;"> A simple suggestion engine </p>
                <div class="form-group row g-1">   
                  <div style="width: 100%;" formGroupName="movements">
                    <div class="table-responsive">
                      <table class="tabela-customizada" style="border-spacing: 10px; width: 100%;">
                        <tbody>
                          <tr>
                            <td style="vertical-align: top;" colspan="4">
                              <table class="tabela-customizada">
                                <thead>
                                  <tr>
                                    <th class="alinhamento-centro">Ordem</th>
                                    <th class="alinhamento-centro">Descrição <span class="required">*</span></th>
                                    <th class="alinhamento-centro">Data <span class="required">*</span></th>
                                    <th style="vertical-align: center;">
                                      <table class="tabela-customizada" style="border-spacing: 10px; width: 100%;">
                                        <thead>
                                          <tr>
                                            <th class="alinhamento-centro" style="width: 26%;">Conta <span class="required">*</span></th>
                                            <th class="alinhamento-centro" style="width: 25%;">Débito <span class="required">*</span></th>
                                            <th class="alinhamento-centro" style="width: 25%;">Crédito <span class="required">*</span></th>
                                            <th class="alinhamento-centro" style="width: 25%;">IVA</th>
                                            <th style="font-size: 20px;">
                                              <i 
                                                title="Adicionar novo movimento" 
                                                style="cursor: pointer;" 
                                                class="mdi mdi-plus-circle" 
                                                (click)="addNewItemMoviment()"                                                
                                                ></i></th>
                                          </tr>
                                        </thead>
                                      </table>
                                    </th>
                                   
                                  </tr>
                                </thead>
                                <tbody>
                                  <ng-container *ngFor="let movement of formMovements.controls; let i = index; let isLast = last">
                                    <ng-container [formGroupName]="i">
                                      <tr *ngIf="movement.get('display')?.value" (click)="lineDisableOutIndex(i)">
                                        <td 
                                        class="alinhamento-centro" 
                                        style="vertical-align: top;  padding-top: 10px; padding-bottom: 13px ;font-size: 20px;">
                                        <div style="padding-top: 10px;;">
                                       <i 
                                       class="mdi mdi-delete-forever"
                                        title="Excluir essa linha e todas as suas dependências?" 
                                        style="cursor: pointer;"
                                        (click)="deleteMovement(i)"></i> {{movement.get('order')?.value}}
                                      </div>
                                      
                                      </td>
                                        <td class="alinhamento-centro" style="vertical-align: top; padding-top: 12px; padding-bottom: 13px; padding-right: 10px;">
                                          <input 
                                          class="form-control" 
                                          formControlName="description"  
                                          type="text" 
                                          maxlength="100" 
                                          [ngClass]="{'is-invalid': getControl(i,'description')?.invalid && getControl(i,'description')?.touched}"
                                          placeholder=""> 
                                        </td>
                                        <td class="alinhamento-centro" style="vertical-align: top; border-spacing: 10px; padding-top: 13px; padding-bottom: 10px; padding-right: 10px;">
                                          <div id="bloodhound"> 
                                          <input 
                                          matInput [matDatepicker]="picker2" 
                                          placeholder="Escolha uma data"
                                          (click)="picker2.open()"
                                          formControlName="date"
                                          class="form-control w-100"
                                          [ngClass]="{'is-invalid': getControl(i,'date')?.invalid && getControl(i,'date')?.touched}"                                               
                                          >                        
                                          <mat-datepicker #picker2></mat-datepicker>
                                        </div>
                                      
                                        </td>
                                        <td colspan="2">
                                          <table class="tabela-customizada" style="border-spacing: 10px; width: 100%;">
                                            <tbody formGroupName="movementsItens">
                                              <ng-container *ngFor="let movementItens of convertToFormArray(movement.get('movementsItens')).controls; let j = index; let isLast = last">
                                                <ng-container [formGroupName]="j">
                                                  <tr *ngIf="movementItens.get('display')?.value">
                                                    <td class="alinhamento-centro" style="padding-top: 10px; padding-bottom: 2px; padding-right: 15px;">
                                                      <input 
                                                      class="form-control" 
                                                      style="text-align: center;" 
                                                      (blur)="verifyExistAccount(movementItens, movement.get('order')?.value)" 
                                                      type="text" maxlength="9"
                                                       formControlName="account" 
                                                       placeholder=""
                                                       [ngClass]="{'is-invalid': getAccountControl(i,j,'account')?.invalid && getAccountControl(i,j,'account')?.touched}"
                                                       >
                                                    </td>
                                                    <td class="alinhamento-centro" style="padding-top: 10px; padding-bottom: 2px; padding-right: 15px;">
                                                      <input 
                                                      class="form-control" 
                                                      style="text-align: center;" 
                                                      type="text" 
                                                      (keyup)="aplicarMascaraPreco($event)"
                                                      formControlName="debit"
                                                      maxlength="10"
                                                      [ngClass]="{'is-invalid': getAccountControl(i,j,'debit')?.invalid && getAccountControl(i,j,'debit')?.touched}" 
                                                      placeholder="">
                                                    </td>
                                                    <td class="alinhamento-centro" style="padding-top: 10px; padding-bottom: 2px; padding-right: 15px;">
                                                      <input 
                                                      class="form-control" 
                                                      style="text-align: center;" 
                                                      type="text" 
                                                      formControlName="credit" 
                                                      maxlength="10"
                                                      (keyup)="aplicarMascaraPreco($event)"
                                                      [ngClass]="{'is-invalid': getAccountControl(i,j,'credit')?.invalid && getAccountControl(i,j,'credit')?.touched}" 
                                                      placeholder="">
                                                    </td>
                                                    <td class="alinhamento-centro" style="padding-top: 10px; padding-bottom: 2px; padding-right: 15px;">
                                                      <input 
                                                      class="form-control" 
                                                      style="text-align: center;" 
                                                      type="text" 
                                                      maxlength="9" 
                                                      formControlName="accountIva" 
                                                      placeholder="">
                                                      
                                                    </td>
                                                    <td style="font-size: 20px; padding-top: 10px;;">
                                                      <i *ngIf="convertToFormArray(movement.get('movementsItens')).controls.length>1 && j>0" 
                                                        title="excluir essa linha?" 
                                                        style="cursor: pointer;"
                                                        (click)="deleteMovementItens(i,j)" class="mdi mdi-delete-forever"></i>
                                                    </td>
                                                  </tr>
                                                </ng-container>
                                              </ng-container>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                      
                                    </ng-container>
                                   
                                  </ng-container>
                                  <tr>
                                    <td style="text-align: right; width:100%; padding-top: 10px; padding-bottom: 10px;;"  colspan="4">
                                      <button type="submit" *ngIf="viewBtnGravarItensMovement" (click)="gravarMovimento()" class="btn btn-primary me-2" >Gravar</button>
                                      
                                    </td>
                                    
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
      </div>
    </div>
  </div>
  
  <!-- <div class="row d-flex"> -->
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div style="float: none;">
            <button type="submit" class="btn btn-primary me-2" (click)="gravar()">Finalizar gravação</button>
            <button class="btn btn-light" (click)="cancel()">Cancelar</button>
          </div> 
        </div>
      </div>
    </div>
             
            <!-- </div> -->
</form>