<app-modal-ok
 

  ></app-modal-ok>
  
<form [formGroup]="formulario" *ngIf="formulario">
<div class="col-12 form-group-compact">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{idCompany ? 'Editar' : 'Nova'}} Empresa</h4>
        <p class="card-description" style="display: none;"> Basic form elements </p>
        
        <br>
          <div class="form-group">
            <label for="nome">Ativo? <span class="required">*</span></label>
            <input  type="checkbox"  formControlName="active" class="form-check-input">
            
          </div>          

          <div class="form-group">
            <label for="nome">Cód. da empresa <span class="required">*</span></label>
            <input
              type="text"
              class="form-control"
              formControlName="codCompany"
              id="nome"
              (keydown.space)="$event.preventDefault()"
              placeholder="Digite o código da empresa"
              [ngClass]="{'is-invalid': formulario.get('codCompany')?.invalid && formulario.get('codCompany')?.touched}"
            />
            <div class="invalid-feedback" *ngIf="formulario.get('codCompany')?.invalid && formulario.get('codCompany')?.touched">
              O código da empresa é obrigatório.
            </div>
          </div>
  
          <div class="form-group">
            <label for="description">Nome da empresa<span class="required">*</span></label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              id="name"
              placeholder="Digite o nome da empresa"   
              [ngClass]="{'is-invalid': formulario.get('name')?.invalid && formulario.get('name')?.touched}"          
            />
            <div class="invalid-feedback" *ngIf="formulario.get('name')?.invalid && formulario.get('name')?.touched">
               A descrição do diário é obrigatória.
              </div>
          </div>
          <div class="form-group">
            <label for="description">CAE<span class="required">*</span></label>
            <input
              type="text"
              class="form-control"
              formControlName="cae"
              id="cae"
              placeholder="Digite o CAE"   
              [ngClass]="{'is-invalid': formulario.get('cae')?.invalid && formulario.get('cae')?.touched}"          
            />
            <div class="invalid-feedback" *ngIf="formulario.get('cae')?.invalid && formulario.get('cae')?.touched">
              O CAE é obrigatório.
              </div>
          </div>
          <div class="form-group">
            <label for="description">Atividade principal<span class="required">*</span></label>
            <input
              type="text"
              class="form-control"
              formControlName="mainActivity"
              id="mainActivity"
              placeholder="Digite a atividade principal"   
              [ngClass]="{'is-invalid': formulario.get('mainActivity')?.invalid && formulario.get('mainActivity')?.touched}"          
            />
            <div class="invalid-feedback" *ngIf="formulario.get('mainActivity')?.invalid && formulario.get('mainActivity')?.touched">
              A atividade principal é obrigatória.
              </div>
          </div>
          <div class="form-group">
            <label for="description">Outras atividades<span class="required">*</span></label>
            <input
              type="text"
              class="form-control"
              formControlName="otherActivities"
              id="otherActivities"
              placeholder="Digite a atividade principal"   
              [ngClass]="{'is-invalid': formulario.get('otherActivities')?.invalid && formulario.get('otherActivities')?.touched}"          
            />
            <div class="invalid-feedback" *ngIf="formulario.get('otherActivities')?.invalid && formulario.get('otherActivities')?.touched">
             Outras atividades é obrigatório.
              </div>
          </div>
          <div class="form-group">
            <label for="description">Natureza Juridica<span class="required">*</span></label>
            <input
              type="text"
              class="form-control"
              formControlName="legalNature"
              id="legalNature"
              placeholder="Digite a natureza Juridica"   
              [ngClass]="{'is-invalid': formulario.get('legalNature')?.invalid && formulario.get('legalNature')?.touched}"          
            />
            <div class="invalid-feedback" *ngIf="formulario.get('legalNature')?.invalid && formulario.get('legalNature')?.touched">
                Natureza Juridica é obrigatória.
              </div>
          </div>
          <div class="form-group">
            <label for="description">Capital social<span class="required">*</span></label>
            <input
              type="text"
              class="form-control"
              formControlName="socialCapital"
              id="socialCapital"
              placeholder="Digite o capital social"   
              [ngClass]="{'is-invalid': formulario.get('socialCapital')?.invalid && formulario.get('socialCapital')?.touched}"          
            />
            <div class="invalid-feedback" *ngIf="formulario.get('socialCapital')?.invalid && formulario.get('socialCapital')?.touched">
                Capital social é obrigatório.
              </div>
          </div>
          <div class="form-group">
            <label for="description">Capital nacional<span class="required">*</span></label>
            <input
              type="text"
              class="form-control"
              formControlName="nationalCapital"
              id="nationalCapital"
              placeholder="Digite o capital nacional"   
              [ngClass]="{'is-invalid': formulario.get('nationalCapital')?.invalid && formulario.get('nationalCapital')?.touched}"          
            />
            <div class="invalid-feedback" *ngIf="formulario.get('nationalCapital')?.invalid && formulario.get('nationalCapital')?.touched">
                capital nacional é obrigatório.
              </div>
          </div>
          <div class="form-group">
            <label for="description">Capital extra<span class="required">*</span></label>
            <input
              type="text"
              class="form-control"
              formControlName="extraCapital"
              id="extraCapital"
              placeholder="Digite o capital extra"   
              [ngClass]="{'is-invalid': formulario.get('extraCapital')?.invalid && formulario.get('extraCapital')?.touched}"          
            />
            <div class="invalid-feedback" *ngIf="formulario.get('extraCapital')?.invalid && formulario.get('extraCapital')?.touched">
                capital extra é obrigatório.
              </div>
          </div>
          <div class="form-group">
            <label for="description">Capital público<span class="required">*</span></label>
            <input
              type="text"
              class="form-control"
              formControlName="publicCapital"
              id="publicCapital"
              placeholder="Digite o capital público"   
              [ngClass]="{'is-invalid': formulario.get('publicCapital')?.invalid && formulario.get('publicCapital')?.touched}"          
            />
            <div class="invalid-feedback" *ngIf="formulario.get('publicCapital')?.invalid && formulario.get('publicCapital')?.touched">
                capital público é obrigatório.
              </div>
          </div>

          <div formGroupName="FormNewDocuments" class="col-md-12 grid-margin stretch-card" style="border-style: solid; border-width: 1px;">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Documentos e Logradouros</h4>
                <p class="card-description" style="display: none;"> A simple suggestion engine </p>
                
                <div class="form-group row">
                  <div class="col">
                    <label>Tipo doc ex: NIF, CNPJ</label>
                    <div id="bloodhound">
                      <input 
                      type="text" 
                      formControlName="description" 
                      class="form-control" 
                      maxlength="10" 
                      [ngClass]="{'is-invalid': formulario.get('FormNewDocuments.description')?.invalid && formulario.get('FormNewDocuments.description')?.touched}"          
                      />
                      <div style="color:red;; font-size:12px" *ngIf="moduloService.isFieldInvalid('description',formulario.get('FormNewDocuments'))">
                        O código da empresa é obrigatório
                       </div>
                    </div>
                  </div>
                  <div class="col">
                    <label>Número ex: NIF->319883365</label>
                    <div id="the-basics">
                      <input 
                      type="text" 
                      formControlName="codDocument" 
                      class="form-control" 
                      maxlength="10" 
                      [ngClass]="{'is-invalid': formulario.get('FormNewDocuments.codDocument')?.invalid && formulario.get('FormNewDocuments.codDocument')?.touched}"          
                      />
                      <div style="color:red;; font-size:12px" *ngIf="moduloService.isFieldInvalid('codDocument',formulario.get('FormNewDocuments'))">
                        O código da empresa é obrigatório
                       </div>
                    </div>
                  </div>
                  <div class="col">
                    <label>Código postal</label>
                    <div id="bloodhound">
                      <input
                      type="text"
                      class="form-control"
                      formControlName="codPostal"
                      id="codPostal"
                      maxlength="9"
                      placeholder="Digite a cidade"   
                      [ngClass]="{'is-invalid': formulario.get('FormNewDocuments.codPostal')?.invalid && formulario.get('FormNewDocuments.codPostal')?.touched}"          
                    />
                      <div style="color:red;; font-size:12px" *ngIf="formulario.get('FormNewDocuments.codPostal')?.invalid">
                        O código postal é obrigatório
                       </div>
                    </div>
                  </div>
                
              
              </div>

                <div class="form-group row">
                  <div class="col">
                    
                    <div id="bloodhound">
                      <label>País</label>
                      <div id="bloodhound">
                        <select 
                        id="year" 
                        formControlName="country"  
                        class="form-select"
                        [ngClass]="{'is-invalid': formulario.get('FormNewDocuments.country')?.invalid && formulario.get('FormNewDocuments.country')?.touched}"          
                        >              
                          <option *ngFor="let country of configService.countrys" [value]="country.nameEN">{{country.nameEN }}</option>
                        </select>
                        <div style="color:red;; font-size:12px" *ngIf="formulario.get('FormNewDocuments.country')?.invalid">
                          O código país é obrigatório
                         </div>
                      </div>
                  </div>                  
                </div>
                  <div class="col">
                    <label>Cidade</label>
                    <div id="the-basics">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="city"
                        id="city"
                        placeholder="Digite a cidade"   
                        [ngClass]="{'is-invalid': formulario.get('FormNewDocuments.city')?.invalid && formulario.get('FormNewDocuments.city')?.touched}"          
                      />
                      <div style="color:red;; font-size:12px" *ngIf="formulario.get('FormNewDocuments.city')?.invalid && formulario.get('FormNewDocuments.city')?.touched">
                          cidade é obrigatória.
                        </div>
                    </div>
                  </div>
                  <div class="col">
                    <label>Endereço</label>
                    <div id="bloodhound">
                      <div id="bloodhound">
                        <input
                        type="text"
                        class="form-control"
                        formControlName="address"
                        id="address"
                        placeholder="Digite o endereço"   
                        [ngClass]="{'is-invalid': formulario.get('FormNewDocuments.address')?.invalid && formulario.get('FormNewDocuments.address')?.touched}"          
                      />
                      <div style="color:red;; font-size:12px" *ngIf="moduloService.isFieldInvalid('address',formulario.get('FormNewDocuments'))">
                        O logradouro é obrigatório
                       </div>
                    </div>
                  </div>                  
                </div>
                            
              
              </div>
              <div class="form-group row">
             

                <div class="col">
                  <label>Número logradouro</label>
                  <div id="bloodhound">
                    <div id="bloodhound">
                      <input
                      type="text"
                      class="form-control"
                      formControlName="addressNumber"
                      id="address"
                      placeholder="Digite o número do logradouro"   
                      [ngClass]="{'is-invalid': formulario.get('FormNewDocuments.addressNumber')?.invalid && formulario.get('FormNewDocuments.addressNumber')?.touched}"          
                    />
                    <div style="color:red;; font-size:12px" *ngIf="formulario.get('FormNewDocuments.addressNumber')?.invalid">
                      O número do logradouro é obrigatório
                     </div>
                  </div>
                </div>                  
              </div>
              
              <div class="col">
                <label>Complemento</label>
                <div id="bloodhound">
                  <div id="bloodhound">
                    <input
                    type="text"
                    class="form-control"
                    formControlName="addressComplement"
                    id="address"
                    placeholder="Digite o complemento do logradouro"   
                    [ngClass]="{'is-invalid': formulario.get('FormNewDocuments.addressComplement')?.invalid && formulario.get('FormNewDocuments.addressComplement')?.touched}"          
                  />
                  <div style="color:red;; font-size:12px" *ngIf="formulario.get('FormNewDocuments.addressComplement')?.invalid">
                    O complemento do logradouro é obrigatório
                   </div>
                </div>
              </div>                  
            </div>
            <div class="col">
              <label>&nbsp;</label>
              <div id="bloodhound">
                <button type="button" (click)="addDocument()" class="btn btn-primary me-2">Adicionar</button>
              </div>
            </div> 
            </div>  


            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body" style="border-style: solid; border-width: 1px;">                           
                    <div class="form-group perfis-container"> 
                      <div class="table-responsive">
                          <table class="table table-striped">
                            <thead>                                                
                              <tr>
                                <th> Logradouro </th>              
                              
                                <th> </th> 
                              </tr>
                            </thead>
                            <tbody *ngIf="documentForm">
                              <tr *ngFor="let document of documentForm.controls; let i = index;let isLast = last ">                                                         
                                <td> {{formataEndereco(document)}} </td>
                                                       
                                <td style="text-align: right;">                                        
                                  <i  style="font-size: 20px; cursor: pointer; " (click)="deleteDocument(i)" title="Editar plano de conta" class="mdi mdi-delete-forever"></i>                                          
                                </td>                                                         
                              </tr>             
                            </tbody>
                          </table>                                 
                        </div>
                    </div> 
                </div>
              </div>
            </div>  
            </div>
             
            </div>
      
          </div>

        
          

          <div formGroupName="FormNewPhones" class="col-md-12 grid-margin stretch-card" style="border-style: solid; border-width: 1px;">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Telefones</h4>
                <p class="card-description" style="display: none;"> A simple suggestion engine </p>
                
                <div class="form-group row">
                  <div class="col">
                    <label>Código País</label>
                    <div id="bloodhound">
                      <select 
                      id="year" 
                      formControlName="codCountry"  
                      class="form-select"
                      [ngClass]="{'is-invalid': formulario.get('FormNewPhones.codCountry')?.invalid && formulario.get('FormNewPhones.codCountry')?.touched}"          
                      >              
                        <option *ngFor="let country of configService.countrys" [value]="country.phoneCode">{{country.nameEN + "-" + country.phoneCode}}</option>
                      </select>
                      <div style="color:red;; font-size:12px" *ngIf="formulario.get('FormNewPhones.codCountry')?.invalid &&  formulario.get('FormNewPhones.codCountry')?.touched">
                        O código do país é obrigatório
                       </div>
                    </div>
                  </div>

                  <div class="col">
                    <label> Cod. do estado do telefone</label>
                    <div id="bloodhound">
                      <input
                      type="text"
                      class="form-control"
                      formControlName="codState"
                      id="codState"
                      placeholder="Digite código do estado"   
                      [ngClass]="{'is-invalid': formulario.get('FormNewPhones.codState')?.invalid && formulario.get('FormNewPhones.codState')?.touched}"          
                    />
                    <div style="color:red;; font-size:12px" *ngIf="moduloService.isFieldInvalid('codState',formulario.get('FormNewPhones'))">
                      O código do estado é obrigatório
                     </div>
                    </div>
                  </div>

                  <div class="col">
                    <label> Número do telefone</label>
                    <div id="bloodhound">
                      <input
                      type="text"
                      class="form-control"
                      formControlName="phoneNumber"
                      id="phoneNumber"
                      placeholder="Digite número do telefone"   
                      [ngClass]="{'is-invalid': formulario.get('FormNewPhones.phoneNumber')?.invalid && formulario.get('FormNewPhones.phoneNumber')?.touched}"          
                    />
                    <div style="color:red;; font-size:12px" *ngIf="moduloService.isFieldInvalid('phoneNumber',formulario.get('FormNewPhones'))">
                      O número do telefone é obrigatório
                     </div>
                    </div>
                  </div>
                  <div class="col">
                    <label> &nbsp;</label>
                    <div id="bloodhound">
                      <button type="button" (click)="addPhone()" class="btn btn-primary me-2">Adicionar</button>
                 
                    </div>
                  </div>

                </div>
                <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body" style="border-style: solid; border-width: 1px;">                           
                        <div class="form-group perfis-container"> 
                          <div class="table-responsive">
                              <table class="table table-striped">
                                <thead>                                                
                                  <tr>
                                    <th> Cod. do país </th>              
                                    <th> Cod. Estado </th>  
                                    <th> Número do telefone </th>  
                                    <th> </th> 
                                  </tr>
                                </thead>
                                <tbody *ngIf="phoneForm">
                                  <tr *ngFor="let phone of phoneForm.controls; let i = index;let isLast = last ">                                                         
                                    <td> {{phone.get('codCountry')?.value}} - {{configService.retornaCoutryName(phone.get('codCountry')?.value)?.nameEN}} </td>
                                    <td> {{phone.get('codState')?.value}} </td>
                                    <td> {{phone.get('phoneNumber')?.value}} </td>                                       
                                    <td style="text-align: right;">                                        
                                      <i  style="font-size: 20px; cursor: pointer; " (click)="deletePhone(i)" title="Editar plano de conta" class="mdi mdi-delete-forever"></i>                                          
                                    </td>                                                         
                                  </tr>             
                                </tbody>
                              </table>                                 
                            </div>
                        </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div formGroupName="FormNewExercise" class="col-md-12 grid-margin stretch-card" style="border-style: solid; border-width: 1px;">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Exercício</h4>
                <p class="card-description" style="display: none;"> A simple suggestion engine </p>
                
                <div class="form-group row">
                  <div class="col">
                    <label>Ano</label>
                    <div id="bloodhound">

                      <select 
                      id="year" 
                      formControlName="year"  
                      class="form-select"
                      [ngClass]="{'is-invalid': formulario.get('FormNewExercise.year')?.invalid && formulario.get('FormNewExercise.year')?.touched}"          
                      >              
                        <option *ngFor="let year of configService.years" [value]="year">{{year}}</option>
                      </select>

                  
                    <div style="color:red;; font-size:12px" 
                    *ngIf="moduloService.isFieldInvalid('year',formulario.get('FormNewExercise'))">
                  
                      O ano é obrigatório
                     </div>
                   
                   
                    </div>
                  </div>

                  <div class="col">
                    <label> Mês de Início</label>
                    <div id="bloodhound">

                      <select 
                      id="startMonth" 
                      formControlName="startMonth"  
                      class="form-select"
                      [ngClass]="{'is-invalid': formulario.get('FormNewExercise.startMonth')?.invalid && formulario.get('FormNewExercise.startMonth')?.touched}"          
                      >              
                        <option *ngFor="let month of configService.months" [value]="month.value">{{month.name}}</option>
                      </select>

                    
                    <div style="color:red; font-size:12px" 
                    *ngIf="moduloService.isFieldInvalid('startMonth',formulario.get('FormNewExercise'))">
                 O mês de início é obrigatório
               </div>
                    </div>
                  </div>

                  <div class="col">
                    <label> Mês de Fim</label>
                    <div id="bloodhound">

                      <select 
                      id="endMonth" 
                      formControlName="endMonth"  
                      class="form-select"
                      [ngClass]="{'is-invalid': formulario.get('FormNewExercise.endMonth')?.invalid && formulario.get('FormNewExercise.endMonth')?.touched}"          
                      >              
                        <option *ngFor="let month of configService.months" [value]="month.value">{{month.name}}</option>
                      </select>


                    <div style="color:red;; font-size:12px" 
                    *ngIf="moduloService.isFieldInvalid('endMonth',formulario.get('FormNewExercise'))">
                   
                      O mês de início é obrigatório
                     </div>
                    </div>
                  </div>
                  <div class="col">
                    <label> &nbsp;</label>
                    <div id="bloodhound">
                      <button type="button" (click)="addExercise()" class="btn btn-primary me-2">Adicionar</button>
                 
                    </div>
                  </div>

                </div>
                <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body" style="border-style: solid; border-width: 1px;">                           
                        <div class="form-group perfis-container"> 
                          <div class="table-responsive">
                              <table class="table table-striped">
                                <thead>                                                
                                  <tr>
                                    <th> Year </th>              
                                    <th> Mês de Início </th>  
                                    <th> Mês de fim </th>  
                                    <th> </th> 
                                  </tr>
                                </thead>
                                <tbody *ngIf="exerciseForm">
                                  <tr *ngFor="let exercise of exerciseForm.controls; let i = index;let isLast = last ">                                                         
                                    <td> {{exercise.get('year')?.value}}  </td>
                                    <td> {{exercise.get('startMonth')?.value}} </td>
                                    <td> {{exercise.get('endMonth')?.value}} </td>                                       
                                    <td style="text-align: right;">                                        
                                      <i  style="font-size: 20px; cursor: pointer; " (click)="deleteExercise(i)" title="Editar plano de conta" class="mdi mdi-delete-forever"></i>                                          
                                    </td>                                                         
                                  </tr>             
                                </tbody>
                              </table>                                 
                            </div>
                        </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
        
      </div>
    </div>
  </div>
  
  <!-- <div class="row d-flex"> -->

          
  

    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div style="float: none;">
            <button class="btn btn-primary me-2" (click)="gravar()">Gravar</button>
            <button class="btn btn-light" (click)="cancel()">Cancelar</button>
          </div> 
        </div>
      </div>
    </div>
             
            <!-- </div> -->
</form>