<form [formGroup]="formulario" *ngIf="formulario">
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Novo Usuário</h4>
        <p class="card-description" style="display: none;"> Basic form elements </p>
        <form class="forms-sample">
          <div class="form-group">
            <label for="exampleInputUsername1">Nome</label>
            <input 
                  type="text" 
                  class="form-control" 
                  formControlName="nome" 
                  id="nome" 
                  placeholder="Digite o nome">
          </div>
          <div class="form-group">
            <label for="exampleInputUsername1">Último Nome</label>
            <input 
                type="text" 
                class="form-control" 
                formControlName="sobrenome" 
                id="sobrenome" 
                placeholder="Digite o último nome">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input 
                type="text" 
                class="form-control"
                 formControlName="email" 
                 id="email" 
                 placeholder="email">
          </div>
          <div class="form-group">
            <label for="passaporte">Passaporte</label>
            <input 
                type="text" 
                class="form-control" 
                formControlName="passaporte" 
                id="passaporte" 
                placeholder="Username">
          </div>
          
          <div class="form-group" style="display: none;float: none;">
            <label for="documento">Documento</label>
            <select class="form-select">
              <option></option>
              <option>211 - Caixa AKZ - Pagamentos</option>
              <option>212 - Recebimento</option>
            </select>
          </div>

        
        </form>
      </div>
    </div>
  </div>
  
  <!-- <div class="row d-flex"> -->

   


              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Perfis</h4>                    

                    <ngContainer formArrayName="perfis">                     
                      <div class="form-group perfis-container">            
                        <div *ngFor="let perfil of perfisForm.controls; let i = index;let isLast = last ">
                          <ngContainer [formGroupName]="i">
                              <input  type="checkbox"  formControlName="value" class="form-check-input">&nbsp;<label class="espacoLabel">{{ perfil.get("name")?.value }}</label> <span  *ngIf="!isLast">/</span>
                            </ngContainer>
                        </div> 
                      </div> 
                    </ngContainer>


                    
                  </div>
                </div>
              </div>


             
              <div class="col-12 grid-margin" style="display: none;">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Documentos</h4>                     
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group row"> 
                            <div class="col-sm-9">                            
                              <div style="width: 100%;" style="margin-bottom: 10px;"> Tipo</div>
                              <select class="form-select">
                                <option value="1">NIF</option>
                                <option value="2">CNPJ</option>
                              </select>
                            </div>                          
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group row">  
                            <div class="col-sm-9">
                              <div style="width: 100%;" style="margin-bottom: 10px;"> País</div>
                              <select class="form-select">
                                <option value="1">Brasil</option>
                                <option value="2">Portugal</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group row">
                            <div class="col-sm-12">
                              <div style="width: 100%;" style="margin-bottom: 10px;"> Documento</div>                             
                              <input type="text" class="form-control" maxlength="22" />
                            </div>
                          </div>
                        </div>                       
                      </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div style="float: none;">
                      <button type="submit" class="btn btn-primary me-2" (click)="gravar()">Gravar</button>
                      <button class="btn btn-light">Cancelar</button>
                    </div> 
                  </div>
                </div>
              </div>
             
            <!-- </div> -->
</form>